<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.SET_WALLPAPER" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_MEDIA_VISUAL_USER_SELECTED" />
    <uses-permission android:name="com.google.android.gms.permission.AD_ID" />

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.SYSTEM_OVERLAY_WINDOW" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission
        android:name="android.permission.BIND_ACCESSIBILITY_SERVICE"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PLAYBACK" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />


    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/img_logo"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@drawable/img_logo"
        android:supportsRtl="true"
        android:theme="@style/Base.Theme.BaseAppJava2"
        android:usesCleartextTraffic="true"
        tools:ignore="DiscouragedApi,LockedOrientationActivity"
        tools:targetApi="m">
        <activity
            android:name=".ui.preview.PreviewActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/TranslucentTheme"/>
        <activity
            android:name=".ui.item.sound.PlaySoundActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.setting.AboutActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.policy.PolicyActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.splash.SplashActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.language.LanguageStartActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.language.LanguageActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.apply.ApplyActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.permission.PermissionActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.main.MainActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.intro.IntroActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.item.background.BackgroundActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.item.zipper.ZipperActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.item.row.RowActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.item.wallpaper.SetWallpaperActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.successfully.SuccessfullyActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.item.wallpaper.WallpaperActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.item.sound.SoundActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.item.sound.SoundTypeActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.item.personalized.PersonalizedActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.setting.SettingActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <service
            android:name=".ui.lockscreen.LockscreenService"
            android:exported="true"
            android:foregroundServiceType="mediaPlayback"
            tools:ignore="ForegroundServicePermission" />

        <activity
            android:name=".ui.preview.LockScreenActivity"
            android:exported="false"
            android:lockTaskMode="always"
            android:excludeFromRecents="true"
            android:screenOrientation="portrait"
            android:theme="@style/TranslucentTheme"/>
        <receiver
            android:name=".ui.lockscreen.RestartServiceReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.LOCKED_BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>